<HTML>

<BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
            <H1>Enter Truck ID or Container ID to get stuff </H1> <br>
            <form method="POST">
                ID: <input type="text" name="id"><br>
                From: <input type="text" name="from"><br>
                To: <input type="text" name="to"><br>
                <input type="submit" value="Submit"><br>

                <a href="https://ibb.co/nMK7sFW"><img src="https://i.ibb.co/23pv7Tb/final-drorr.png" alt="final-drorr" border="0"></a> 

            </form>
        </center>
    </form>
</BODY>

</HTML>