<HTML>

<BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
            <H1>WEIGHTS N' STUFF</H1> <br>

            <label for="dir">Choose direction:</label>

            <select name="dir" id="dir">
                <option value="none">None</option>
                <option value="in">In</option>
                <option value="out">Out</option>
            </select> <br><br>

            Truck ID<input type="text" name="truck" /> <br><br>
            Containers ID<input type="text" name="containers" /> (use only comma and no spaces) <br><br>            
            Weight <input type="text" name="weight" /> <br><br>
            
            <label for="unit">Choose unit:</label>

            <select name="unit" id="unit">
                <option value="kg">KG</option>
                <option value="lbs">LBS</option>
            </select> <br><br>

            <div>
                <input type="checkbox" id="force" name="force">
                <label for="force">Force</label>
            </div>

            Produce ID<input type="text" name="produce" /> <br><br>
            
            <input type="submit"> <br>

            <a href="https://ibb.co/nMK7sFW"><img src="https://i.ibb.co/23pv7Tb/final-drorr.png" alt="final-drorr" border="0"></a> 

        </center>
    </form>
</BODY>

</HTML>