python==3.6.9
sudo apt-get install -y python3.6-dev libmysqlclient-dev libssl-dev
pip install flask-mysqldb / 
pip install --upgrade setuptools
set FLASK_APP=app.py
export FLASK_APP=app.py
mysql==5.7




